# autotools cruft
INSTALL
Makefile.in
aclocal.m4
autom4te.cache/
autostuff/
configure
configure.lineno

# Editor/IDE cruft
*.kate-swp
*~
*.kdev4
Makefile.am.user

# Configure/build cruft
*.asm
#*.bin
*.cdb
*.d
*.elf
*.fw
firmware/fx2/*.ihx
firmware/fx2/*.iic
firmware/fx2.libfx2/*.ihex
firmware/fx2.libfx2/*.iic
build
*.lib
*.lk
*.lnk
*.lst
*.map
*.mem
*.o
*.omf
*.rel
*.rst
*.sym
.dirstamp

config.*
stamp-h?

*.bak
*.new
*.old
*.orig
*.sh

__pycache__
firmware/stm32/libopencm3
firmware/fx2/fx2lib
firmware/fx2/INSTALL
firmware/fx2/Makefile
Changelog

*.egg-info
deb_dist
dist
*.tar.gz
*.deb
